
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3><a href="#daily_period_standardInt">Daily periods [Integrated]</a> > Details</h3> 
						
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->


<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-16">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i></h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">


										<!--=== Striped Table ===-->
					<div class="col-md-14">
					
						
							<div class="widget-content">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th>Period</th>
											<th>Item</th>
											<th>Start</th>
											<th>End</th>
											<th>Dampener</th>
											<th>Set p <</th>
											<th>Set p ></th>
											<th>Infl1 <</th>
											<th>Infl1 ></th>
											<th>Infl2 <</th>
											<th>Infl2 ></th>
											<th>Vent Diff</th>
											<th>Infl3 <</th>
											<th>Infl3 ></th>
										</tr>
									</thead>
									<tbody>
										<tr>

											<td>W1020</td>
											<td>00010</td>
											<td>0000</td>
											<td>0600</td>
											<td>0</span></td>
											<td>18.00</td>
											<td> -- </td>
											<td> -- </td>
											<td> -- </td>
											<td> -- </span></td>
											<td> -- </td>
											<td>0.00</td>
											<td> -- </td>
											<td> -- </td>
											
										</tr>
										<tr>

											<td>W1020</td>
											<td>00010</td>
											<td>0600</td>
											<td>1700</td>
											<td>0</span></td>
											<td>22.00</td>
											<td>21.00</td>
											<td> -- </td>
											<td> -- </td>
											<td> -- </span></td>
											<td> -- </td>
											<td>0.00</td>
											<td> -- </td>
											<td> -- </td>

										</tr>
										<tr>
											<td>W1020</td>
											<td>00010</td>
											<td>1700</td>
											<td>2400</td>
											<td>0</span></td>
											<td>18.00</td>
											<td> -- </td>
											<td> -- </td>
											<td> -- </td>
											<td> -- </span></td>
											<td> -- </td>
											<td>0.00</td>
											<td> -- </td>
											<td> -- </td>
										</tr>

									</tbody>
								</table>
							</div>
						
					</div>
					<!-- /Striped Table -->


				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-14">
					<div class="col-md-6">
						<div class="widget box">
							<div class="widget-header">
								<h4 style="color: green"><i class="icon-info-sign" style="color: green" ></i>Status: Completed cycle </h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">
											
												<label class="col-md-3 control-label">Period</label>
												<div class="col-md-3">
													<input type="text" name="regular" class="form-control">
												</div>
												<label class="col-md-3 control-label">Item No.</label>
												<div class="col-md-3">
													<input type="text" name="regular" class="form-control">
												</div>


									</div>


									</div>
								
							</div>
						</div>

				
							<div class="col-md-3">
												<div class="well">


													<p><strong>Start time</strong></p>
													<div class="row">
														<div class="col-md-5">
															<input type="text" name="regular" class="form-control" placeholder="hhmm"><span class="help-block">(hhmm)</span>

														</div>

														<div class="col-md-6">
															<select class="form-control" name="select">
																<option value="opt1">Real Time</option>
																<option value="opt2">Before Sunrise</option>
																<option value="opt3">After Sunrise</option>
																<option value="opt4">Before Sunset</option>
																<option value="opt5">After Sunset</option>
															</select>
														</div>

										</div>
										</div>
									</div>

									<div class="col-md-3">
												<div class="well">


													<p><strong>End time</strong></p>
													<div class="row">
														<div class="col-md-5">
															<input type="text" name="regular" class="form-control" placeholder="hhmm"><span class="help-block">(hhmm)</span>

														</div>

														<div class="col-md-6">
															<select class="form-control" name="select">
																<option value="opt1">Real Time</option>
																<option value="opt2">Before Sunrise</option>
																<option value="opt3">After Sunrise</option>
																<option value="opt4">Before Sunset</option>
																<option value="opt5">After Sunset</option>
															</select>
														</div>

										</div>
										</div>
									</div>
						
						<div class="col-md-6">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Base (Heating)</h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">
											
											<label class="col-md-2 control-label">Sensor type</label>
												<div class="col-md-2">
													<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
													</select>
												</div>
												<label class="col-md-2 control-label">Sensor</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Set point <</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>

										 
									</div>

			
									</div>
							
							</div>
						</div>

						<div class="col-md-6">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Influence 1 (Heating)</h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">
										
										<label class="col-md-3 control-label">Sensor type</label>
												<div class="col-md-3">
													<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
													</select>
												</div>
												<label class="col-md-3 control-label">Sensor</label>
												<div class="col-md-3">
													<input type="text" name="regular" class="form-control">
												</div>	

										 
									</div>

									</div>
								
							</div>
						</div>

						<div class="col-md-6">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Influence 2 (Heating)</h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">
										
										<label class="col-md-3 control-label">Sensor type</label>
												<div class="col-md-3">
													<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
													</select>
												</div>
												<label class="col-md-3 control-label">Sensor</label>
												<div class="col-md-3">
													<input type="text" name="regular" class="form-control">
												</div>	
										 
									</div>

									</div>
								
							</div>
						</div>

						<div class="col-md-6">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Influence  (Ventilation)</h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">
										
										<label class="col-md-3 control-label">Sensor type</label>
												<div class="col-md-3">
													<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
													</select>
												</div>
												<label class="col-md-3 control-label">Sensor</label>
												<div class="col-md-3">
													<input type="text" name="regular" class="form-control">
												</div>	
										 
									</div>

								
									
									</div>
								
							</div>
						</div>

						<label class="col-md-1 control-label">Dampener</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>	
						<label class="col-md-1 control-label">Ventilation defferential</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>	


						</div>
					</div>
					<!-- /Horizontal Forms -->



								
									</div>

								
										<div class="form-actions">

											<input type="submit" value="Delete" class="btn btn-primary pull-right">
											<input type="submit" value="Add" class="btn btn-primary pull-right">
											<input type="submit" value="Update" class="btn btn-primary pull-right">
											<!--<input type="submit" value="Search" class="btn btn-primary pull-right">-->

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- /Horizontal Forms -->