
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3><a href="#service_cas_zon">Zone</a> > Cascade > <a href="#services_pid_cas_pid">PID</a></h3>
						<!--<span>Good morning, Nancy!</span>-->
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->

<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-12">
                    
                    
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i></h4>
							</div>

						
                        
						<div class="widget-content">

							
								<div class="form-group">
                                
                                <form class="form-horizontal row-border" action="#">

										<h5 class="widget-title"><i class=" icon-laptop"></i>Equipment</h5>
										
									<div class="row">

												<label class="col-md-2 control-label">P Band (Proportional)</label>

												<div class="col-md-1">
													<input type="text" name="regular" class="form-control"><span class="help-block"></span>
												</div>
											</div>

									<div class="row">

												<label class="col-md-2 control-label">I Band (Integral)</label>

												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
													<span class="help-block"></span>
												</div>
												<label class="col-md-2 control-label">I Band (Integral) limits</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control" placeholder="Low">
												</div>

												<div class="col-md-1">
													<input type="text" name="regular" class="form-control" placeholder="High">
												</div>		
										</div>


								<h5 class="widget-title"><i class="icon-folder-open"></i>Outside temperature</h5>

									<div class="row">

										<label class="col-md-2 control-label">Sensor type</label>
											
													<div class="col-md-2">
														<select class="form-control" name="select">
																	<option value="opt1">Real</option>
																	<option value="opt2">Virtual</option>
																	<option value="opt3">Cumul</option>
																	
														</select>
											</div>


												<label class="col-md-2 control-label">Factor</label>

												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										</br>
									

									<div class="row">

									  <label class="col-md-2 control-label">Sensor No.</label>
										<div class="col-md-2">
											<input type="text" name="regular2" class="form-control">
										</div>

										<label class="col-md-2 control-label">Sensor description</label>
											<div class="col-md-5">
											<input type="text" name="regular" class="form-control" >
											</div>

									</div>
											</br>

													<h5 class="widget-title"><i class="wi wi-day-light-wind"></i>Wind speed</h5>

												<div class="row">

										<label class="col-md-2 control-label">Sensor type</label>
											
													<div class="col-md-2">
														<select class="form-control" name="select">
																	<option value="opt1">Real</option>
																	<option value="opt2">Virtual</option>
																	<option value="opt3">Cumul</option>
																	
														</select>
											</div>


												<label class="col-md-2 control-label">Factor</label>

												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>
											</br>
											<div class="row">

													<label class="col-md-2 control-label">Sensor No.</label>
													<div class="col-md-2">

														<input type="text" name="regular" class="form-control">
														
													</div>

													<label class="col-md-2 control-label">Sensor description</label>
														<div class="col-md-5">
														<input type="text" name="regular" class="form-control" >
														</div>

												</div>
											</br>

												<h5 class="widget-title"><i class="icon-lightbulb"></i>Ligh Intensity</h5>

													<div class="row">

										<label class="col-md-2 control-label">Sensor type</label>
											
													<div class="col-md-2">
														<select class="form-control" name="select">
																	<option value="opt1">Real</option>
																	<option value="opt2">Virtual</option>
																	<option value="opt3">Cumul</option>
																	
														</select>
											</div>

											

												<label class="col-md-2 control-label">Factor</label>

												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										</br>
											<div class="row">

													<label class="col-md-2 control-label">Sensor No.</label>
													<div class="col-md-2">

														<input type="text" name="regular" class="form-control">
														
													</div>

													<label class="col-md-2 control-label">Sensor description</label>
														<div class="col-md-5">
														<input type="text" name="regular" class="form-control" >
														</div>

												</div>

												<h5 class="widget-title"><i class="icon-stop"></i>High/low limits</h5>

											<div class="row">

													<label class="col-md-2 control-label">Set point type</label>
													<div class="col-md-2">

														<select class="form-control" name="select">
																	<option value="opt1">Standard</option>
																	<option value="opt2">Heating</option>
																	<option value="opt3">Ventilation</option>
																	
														</select>
														
													</div>

													<label class="col-md-2 control-label">Set point type</label>

													<div class="col-md-2">

													<select class="form-control" name="select">
																	<option value="opt1">Standard</option>
																	<option value="opt2">Heating</option>
																	<option value="opt3">Ventilation</option>
																	
														</select>

													</div>
												</div>
												</br>
												<div class="row">

													<label class="col-md-2 control-label">Minimum pipe</label>
													<div class="col-md-2">

														<input type="text" name="regular" class="form-control">
														
													</div>

													<label class="col-md-2 control-label">Minimum pipe</label>
														<div class="col-md-2">
														<input type="text" name="regular" class="form-control" >
														</div>

												</div>

												 <div class="form-actions">

												<input type="submit" value="Delete" class="btn btn-primary pull-right">
												<input type="submit" value="Add" class="btn btn-primary pull-right">
												<input type="submit" value="Update" class="btn btn-primary pull-right">
												<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#search"> Search </button>

												</div>
							


                                            </div> 
	
								</form>
						</div>
					</div>
					<!-- /Horizontal Forms -->
