
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Zone > <a href="#services_cascade_cascade">Cascade</a></h3>
						
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->

<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Zone Cascade</h4>
							</div>
						<div class="widget-content">
								
							<form class="form-horizontal row-border" action="#">

										<div class="form-group">

									<div class="row">
												<label class="col-md-2 control-label">Sensor No.</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control input-width-mini" value = "S" disabled="disabled"><span class="help-block"></span>
												</div>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control input-width-mini" placeholder="XXXX"><span class="help-block"></span>
												</div>
												<label class="col-md-2 control-label">Description</label>
												<div class="col-md-4">
													<input type="text" name="regular" class="form-control">
												</div>	
										</div>

									<div class="row">

										<label class="col-md-2 control-label">Active</label>
										<div class="col-md-1">
											<select class="form-control" name="select">
														<option value="opt1">YES</option>
														<option value="opt2">NO</option>
													</select>
										</div>
										<label class="col-md-3 control-label">Minimum activation</label>
											<div class="col-md-2">
												<input type="text" name="regular" class="form-control" value="0" maxlength="3">
											</div>
									
									</div>	

									</br>

									<div class="row">

										<label class="col-md-2 control-label">Statistics</label>
										<div class="col-md-1">
											<select class="form-control" name="select">
														<option value="opt1">YES</option>
														<option value="opt2">NO</option>
													</select>
										</div>

										<label class="col-md-3 control-label">Statistic rec. intervals</label>
											<div class="col-md-2">
											<input type="text" name="regular" class="form-control" value="120" maxlength="3">
											</div>

									</div>

											</br>
										<div class="row">

										<label class="col-md-2 control-label">Sensor type</label>
										<div class="col-md-2">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>

										</div>

											</br>
										<div class="row">

										<label class="col-md-2 control-label">Sensor No.</label>
											
												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Description</label>

												<div class="col-md-5">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

											</br>

										<div class="row">

										<label class="col-md-2 control-label">Shedule type</label>

											<div class="col-md-2">
											<select class="form-control" name="select">
														<option value="opt1">Standard</option>
														<option value="opt2">Heating</option>
														<option value="opt3">Ventilation</option>
														
											</select>
										</div>

										</div>

											</br>

										<div class="row">

											<label class="col-md-2 control-label">Schedule No.</label>
											
												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Description</label>

												<div class="col-md-5">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

									</div>


										<h5 class="widget-title"><i class="icon-bell-alt"></i> Alam</h5>

										<div class="row">
											<label class="col-md-2 control-label"></label>

											<div class="col-md-2" style="text-align:center;">
												<strong>Set point desviation</strong>
											</div>
											<div class="col-md-2" style="text-align:center;">
												<strong>Duration (sec)</strong>
											</div>
											<div class="col-md-2" style="text-align:center;">
												<strong>Repeat interval (sec)</strong>
											</div>

										</div>

										</br>

										<div class="row">
										<label class="col-md-2 control-label">Low point</label>
									
											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>

										

											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>

										

											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>

										</div>


										<div class="row">

										<label class="col-md-2 control-label">high point</label>
									
											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>

								

											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>


											<div class="col-md-2">
											<input class="form-control" type="text" maxlength="6"><span class="help-block"></span>
											</div>

										</div>
										</br>
										</br>
										<div class="row">

										<label class="col-md-2 control-label">Page group number</label>
											
												<div class="col-md-2">

													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Description</label>

												<div class="col-md-5">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

											<div class="form-actions">

											<input type="submit" value="Delete" class="btn btn-primary pull-right">
											<input type="submit" value="Add" class="btn btn-primary pull-right">
											<input type="submit" value="Update" class="btn btn-primary pull-right">
											<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#search"> Search </button>


<div class="modal fade" id="search" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><i class="icon-search"></i> Search window</h4>
        </div>
        <div class="modal-body">

          <div class="row">
					<div class="col-md-12">
						<div class="widget box">

							<div class="widget-content no-padding">
								<table class="table table-striped table-bordered table-hover table-checkable table-responsive datatable">
								
									<tbody>
										<tr>
											
											<td>S2000</td>
											<td>ATELIER - FOURNAISE NORD</td>
											
										</tr>
										<tr>
											
											<td>S2010</td>
											<td>ATELIER - FOURNAISE SUD</td>
										</tr>
										
				
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /Responsive DataTable -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

										</div>

										</div>


									</div>	


									
									</div>

						
								
								</form>
						</div>
					</div>
					<!-- /Horizontal Forms -->
