
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3><a href="#service_pid_cas_zone">Zone</a> > <a href="#services_cascade_cascade">Cascade</a> > PID</h3>
						<!--<span>Good morning, Nancy!</span>-->
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->

<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>P.I.D/Configuration</h4>
							</div>

						<div class="widget-content">


							<form class="form-horizontal row-border" action="#">
	
								

								<div class="form-group">

										

								<div class="col-md-7">	
								<h5 class="widget-title"><i class="icon-cogs"></i>P Band (Proportional) Gain</h5>

										<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> Base</h4>
				
							</div>
							<div class="widget-content">

											<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										</br>

									<div class="row">

							
											<label class="col-md-3 control-label">PK</label>
											
												<div class="col-md-4">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

								
							</div>
						</div>

						</div>

							<div class="col-md-7">	
								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 1</h4>
										
									</div>
									<div class="widget-content">

											<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										
									</div>
								</div>

								</div>

								<div class="col-md-7">	

								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 2</h4>
				
									</div>
									<div class="widget-content">

											<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										
									</div>
								</div>

								</div>

                                            </div> 

                                            <!-- -->


						<div class="widget-content">
	
						
								<div class="form-group">

										

								<div class="col-md-7">	

								<h5 class="widget-title"><i class="icon-cogs"></i>I Band (Proportional) Gain</h5>

										<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> Base</h4>
				
							</div>
							<div class="widget-content">

								<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										</br>

									<div class="row">

							
											<label class="col-md-3 control-label">PK</label>
											
												<div class="col-md-4">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

								
							</div>
						</div>

						</div>

							<div class="col-md-7">	
								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 1</h4>
										
									</div>
									<div class="widget-content">

										<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>
										
									</div>
								</div>

								</div>

								<div class="col-md-7">	

								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 2</h4>
				
									</div>
									<div class="widget-content">

										<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										
									</div>
								</div>

								</div>
                                            </div> 

                                            <!-- -->


                                            <div class="widget-content">
	
						
								<div class="form-group">

										

								<div class="col-md-7">	

								<h5 class="widget-title"><i class="icon-cogs"></i>D Band (Derivated) Gain</h5>

										<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i> Base</h4>
				
							</div>
							<div class="widget-content">

									<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										</br>

									<div class="row">

							
											<label class="col-md-3 control-label">PK</label>
											
												<div class="col-md-4">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

								
							</div>
						</div>

						</div>

							<div class="col-md-7">	
								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 1</h4>
										
									</div>
									<div class="widget-content">

										<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										
									</div>
								</div>

								</div>

								<div class="col-md-7">	

								<div class="widget box">
									<div class="widget-header">
										<h4><i class="icon-reorder"></i> Influence 2</h4>
				
									</div>
									<div class="widget-content">

										<div class="row">

									<label class="col-md-3 control-label">Sensor type</label>
										<div class="col-md-4">
											<select class="form-control" name="select">
														<option value="opt1">Real</option>
														<option value="opt2">Virtual</option>
														<option value="opt3">Cumul</option>
														
											</select>
										</div>
											<label class="col-md-2 control-label">Sensor</label>
											
												<div class="col-md-3">

													<input type="text" name="regular" class="form-control">
												</div>

										</div>

										
									</div>
								</div>

								</div>

		
                                            </div> 

          
                                                
                                             </div>
                                              
                                        	<div class="form-group">

										<h5 class="widget-title"><i class="icon-cogs"></i> Information</h5>

												<label class="col-md-2 control-label">Minimum activation pulse</label>
											
												<div class="col-md-4">

													<input type="text" name="regular" class="form-control">
													<span class="help-block">(Sec)</span>
												</div>

												<label class="col-md-2 control-label">Total stoke</label>
											
												<div class="col-md-4">

													<input type="text" name="regular" class="form-control">
													<span class="help-block">(Sec)</span>
												</div>

											</div>
                                               
											</div>
											 <div class="form-actions">

												<input type="submit" value="Delete" class="btn btn-primary pull-right">
												<input type="submit" value="Add" class="btn btn-primary pull-right">
												<input type="submit" value="Update" class="btn btn-primary pull-right">
												<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#search"> Search </button>

												</div>

										</div>
						
										</div>


									</div>	


									</div>
                                  
	
								</form>
						</div>
					</div>
					<!-- /Horizontal Forms -->
				</div>

			<!-- /.container -->

		</div>
	</div>

</body>
</html>