
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3><a href="#service_man">Service </a> > Details</h3>
						
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->


<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-16">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i></h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">


										<!--=== Striped Table ===-->
					<div class="col-md-14">
					
						
							<div class="widget-content">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th>Service No.</th>
											<th>Item No.</th></th>
											<th>Output No.</th>
											<th>Description</th>
											<th>Act. Condition</th>
											<th>Start Diff.</th>
											<th>Stop Diff.</th>
											<th>Duration (sec)</th>
											<th>Delay (Sec)</th>
									
										</tr>
									</thead>
									<tbody>
										<tr>

											<td>S8001</td>
											<td>0010</td>
											<td>R9301</td>
											<td>(VIRT) VIRTUAL ERROR TEST</td>
											<td> -- </span></td>
											<td>0.10</td>
											<td>0.00</td>
											<td>1</td>
											<td>5</td>
										</tr>
									
									</tbody>
								</table>
							</div>
						
					</div>
					<!-- /Striped Table -->


				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-16">
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Information Detail </h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="row">
											
												<label class="col-md-1 control-label">Service No.</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>
												<label class="col-md-1 control-label">Description</label>
												<div class="col-md-4">
													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Start differential</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>


									</div>

									</br>

										<div class="row">
											
												<label class="col-md-1 control-label">Item No.</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-1 control-label"></label>
												<div class="col-md-4">
													
												</div>

												<label class="col-md-2 control-label">Stop differential</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>



												
									</div>

									</br>

										<div class="row">
											
												<label class="col-md-1 control-label">Output No.</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>
												<label class="col-md-1 control-label">Description</label>
												<div class="col-md-4">
													<input type="text" name="regular" class="form-control">
												</div>

												<label class="col-md-2 control-label">Duration (sec)</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>
												<span class="help-block">Sec</span>
												


									</div>

									</br>

										<div class="row">
											
												<label class="col-md-1 control-label">Virtual condition</label>
												<div class="col-md-2">
													<input type="text" name="regular" class="form-control">
												</div>
												<label class="col-md-1 control-label">Description</label>
												<div class="col-md-4">
													<input type="text" name="regular" class="form-control">
												</div>
												<label class="col-md-2 control-label">Delay (sec)</label>
												<div class="col-md-1">
													<input type="text" name="regular" class="form-control">
												</div>
												<span class="help-block">Sec</span>

									</div>



									</div>
								
							</div>
						</div>


		

						</div>
					</div>
					<!-- /Horizontal Forms -->



								
									</div>

								
										<div class="form-actions">

											<input type="submit" value="Delete" class="btn btn-primary pull-right">
											<input type="submit" value="Add" class="btn btn-primary pull-right">
											<input type="submit" value="Update" class="btn btn-primary pull-right">
											<!--<input type="submit" value="Search" class="btn btn-primary pull-right">-->

										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- /Horizontal Forms -->