
				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title">
						<h3>Limit</h3>
						<!--<span>Good morning, Nancy!</span>-->
					</div>

				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->


				<!--=== Blue Chart ===-->

<!--=== Page Content ===-->
				<div class="row">
					<!--=== Horizontal Forms ===-->
					<div class="col-md-12">
						<div class="widget box">
							<div class="widget-header">
								<h4><i class="icon-reorder"></i>Global limit</h4>
							</div>
							<div class="widget-content">
								
								<form class="form-horizontal row-border" action="#">

										<div class="form-group">

										<div class="row">
												
												<label class="col-md-4 control-label">limit</label>
													<div class="col-md-2">
														<div class="col-md-10"><input type="text" class="form-control" data-mask="99%"><span class="help-block">%</span></div>
														
													</div>
													
											</div>
											</br>
											<div class="row">
												<h3 class="col-md-8 control-label">Global limit is used to control the maximum allowable opening of all ventilation panels of the site.
										</h3>
											</div>

										</div>
											<div class="form-actions">

											
											<input type="submit" value="Add" class="btn btn-primary pull-right">
											<input type="submit" value="Update" class="btn btn-primary pull-right">
											
										</div>
	
									</div>
									
									</div>
									
								</form>
							</div>
						</div>
					</div>
					<!-- /Horizontal Forms -->
