				<!--=== Page Header ===-->
				<div class="page-header">

					
					<div class="page-title">

						<h3>Dashboard</h3>
						
					</div>

				</div>
				<!-- /Page Header -->

			<div class="row row-bg"> <!-- .row-bg -->
					<div class="col-sm-6 col-md-3">

						<div class="statbox widget box box-shadow">
							<div class="widget-content">
								<div class="visual white"> 
									<!--<div class="statbox-sparkline">30,20,15,30,22,25,26,30,27</div> -->
									<!--<div class="statbox-sparkline"> -->
										<img src="assets/img/template/cloudy.png" alt="cloudyTempl" height="200" width="120">
									<!--</div> -->
									
								</div> 
								<div class="title">Climate</div>
								<div class="value">Cloudy</div>
								<a class="more" href="javascript:void(0);">View More <i class="pull-right icon-angle-right"></i></a>
							</div>
						</div> <!-- /.smallstat -->
					</div> <!-- /.col-md-3 -->

					<div class="col-sm-6 col-md-3" hidden-xs>
						<div class="statbox widget box box-shadow">
							<div class="widget-content">
								<!--<div class="visual green"> -->
									<div class="visual white"> 
									<!--<div class="statbox-sparkline">20,30,30,29,22,15,20,30,32</div>-->
									<img src="assets/img/template/none.png" alt="none" height="120" width="110">
								</div>
								<div class="title">Irrigation</div>
								<div class="value">None</div>
								<a class="more" href="javascript:void(0);">View More <i class="pull-right icon-angle-right"></i></a>
							</div>
						</div> <!-- /.smallstat -->
					</div> <!-- /.col-md-3 -->

					<div class="col-sm-6 col-md-3 hidden-xs">
						<div class="statbox widget box box-shadow">
							<div class="widget-content">
								<!--<div class="visual yellow">-->
								<div class="visual white">
									<!--<i class="icon-dollar"></i>-->
								    <img src="assets/img/template/Fournaise.png" alt="cloudyTempl" height="200" width="120">
								</div>
								<div class="title">Fournace</div>
								<div class="value">Activated</div>
								<a class="more" href="javascript:void(0);">View More <i class="pull-right icon-angle-right"></i></a>
							</div>
						</div> <!-- /.smallstat -->
					</div> <!-- /.col-md-3 -->

						
				<!-- /Statboxes -->

				<!--=== Blue Chart ===-->

				<!-- /Page Content -->
			</div> 